<p id="notice"><%= notice %></p>

<p>
  <strong>Contractor:</strong>
  <%= @portfolio.contractor_id %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
